<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DNTBreadCrumb.Core.TestWebApp.WithRazorPages</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-page="/Index" class="navbar-brand">DNTBreadCrumb.Core.TestWebApp.WithRazorPages</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a asp-page="/Index">Home</a>
                </li>
                <li>
                    <a asp-page="/About">About</a>
                </li>
                <li>
                    <a asp-page="/Contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <breadcrumb asp-homepage-title="Home"
                        asp-homepage-url="/Home"
                        asp-bootstrap-version="V5"
                        asp-homepage-glyphicon="glyphicon glyphicon-home">
            </breadcrumb>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <partial name="_SideBarMenu"/>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("Scripts", false)
</body>
</html>