<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Features</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-page="/Home/Index">Home page</a>
        </li>
    </ul>
</div>