<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Features</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Area, Index</a>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home page</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="Home" asp-action="Posts">Multi-level breadcrumb with dynamic title</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="Home" asp-action="LocalizedPosts">Localized Posts</a>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="">News index with GlyphIcon</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="test">News - Item 1</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="News" asp-action="Archive" asp-route-id="">News archive</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="News" asp-action="Archive" asp-route-id="1">News archive - Item 1</a>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="" asp-controller="DisplayName" asp-action="Index">DisplayName</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="DisplayName" asp-action="Reports">Reports</a>
        </li>
    </ul>
</div>